<div class="signupsheet">
<p>Hello {{name[0]}}, you can fill out this form if you
  would like to plan an event</p>
  <input ng-model="event" placeholder="Name of the Event">
  <br>
  <input ng-model="info" placeholder="Event Information">
  <br>
  <input ng-model="date" placeholder="Date of the event"/>
  <br>
  <button ng-click="mustard()" class="button"> All done</button>
  <h1> Planned Events </h1>
  <section class="my events" ng-repeat="el in pickles">
    Host: {{el.host}}
    <br>
    Event: {{ el.name }}
    <br>
    Info: {{el.typeEvent}}
    <br>
    Date: {{el.date}}
    <br>
    <br>
  </section>
  </div>
